@use "./_mixin.scss" as m;

.c_swiper {
  width: 100%;
  height: 740px;

  .c_swiper_item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .swiper_text_content {
      @include m.position_center(absolute);
      width: 1440px;

      color: white;
      .swiper_title {
        width: 522px;
        font-size: 71px;
        font-weight: 600;
      }
      .swiper_desc {
        width: 522px;
        font-size: 31px;
        font-weight: 400;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      transition: all 0.3s;
      color: rgba(white, 0.8);
    }

    &:hover {
      &::after {
        color: white;
      }
    }
  }
}
